
<h1>Kudos</h1>
<% if employee_signed_in?%>
  <h1>Number of available Kudos = <%= current_employee.number_of_available_kudos%></h1>
<%end%>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <ul>
          <% if admin_signed_in?%>
            <th>Kudo Id</th>
          <%end%>
        </ul>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver.email %></td>
        <td><%= kudo.receiver.email %></td>
        <ul>
          <% if admin_signed_in?%>
            <td><%= kudo.id %></td>
          <%end%>
        </ul>
        <td><%= link_to 'Show', kudo %></td>
        
        <ul>
          <% if employee_signed_in?%>
            <td><%= link_to 'Edit', edit_kudo_path(kudo) %></td>
          <%end%>
        </ul>
        <td><%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<ul>
  <% if employee_signed_in?%>
    <li><%= link_to 'Back', '/employee'%></li>
    <li><%= link_to 'New Kudo', new_kudo_path %></li>      
  <%elsif admin_signed_in?%>
      <li><%= link_to 'Back', admin_path %></li>
  <%end%>
  </ul>